.CompanyCard {
  background-color: rgb(253, 248, 241);
  width: 500px;
  margin: auto;
  margin-bottom: 15px;
  text-align: left;
  padding: 10px;
  font-family: Calibri;
  position: relative;
  margin-top: 15px;
  text-decoration: none;
  color: rgb(50, 18, 80);
}

/* note to self: margin-bottom HAS to go below margin to be accounted */

.CompanyCard h3, p {
  margin: 0px;
}

.CompanyCard img {
  position: absolute;
  top: 3px;
  right: 3px;
  height: 40%;
}